-- CreateEnum
CREATE TYPE "Language" AS ENUM ('fr', 'en');

-- CreateEnum
CREATE TYPE "NeedType" AS ENUM ('DEVELOPPEMENT', 'MARKETING', 'CONSULTANCE', 'INDETERMINE');

-- CreateEnum
CREATE TYPE "ProjectType" AS ENUM ('SITE_WEB', 'APP_WEB', 'APP_MOBILE', 'SYSTEME_GESTION', 'ECOMMERCE', 'MARKETPLACE', 'ERP_CRM', 'FINTECH', 'IA_AUTOMATISATION', 'STRATEGIE_DIGITALE', 'SEO_REFERENCEMENT', 'PUBLICITE_EN_LIGNE', 'RESEAUX_SOCIAUX', 'CREATION_CONTENU', 'EMAIL_MARKETING', 'BRANDING_IDENTITE', 'MARKETING_COMPLET', 'AUDIT_DIGITAL', 'STRATEGIE_TRANSFORMATION', 'CHOIX_TECHNOLOGIQUES', 'ACCOMPAGNEMENT_PROJET', 'FORMATION_EQUIPES', 'CONSEIL_CROISSANCE', 'PRESENCE_EN_LIGNE', 'AUTOMATISER_PROCESSUS', 'DEVELOPPER_ACTIVITE', 'RESOUDRE_PROBLEME', 'AUTRE');

-- CreateEnum
CREATE TYPE "SubmissionStatus" AS ENUM ('NOUVEAU', 'EN_COURS', 'BRIEF_ENVOYE', 'EN_ATTENTE_CLIENT', 'PROPOSITION_ENVOYEE', 'CONFIRME', 'NON_QUALIFIE', 'ARCHIVE');

-- CreateEnum
CREATE TYPE "DocumentType" AS ENUM ('BRIEF', 'DRAFT_CDC', 'PROPOSITION');

-- CreateEnum
CREATE TYPE "GenerationStatus" AS ENUM ('PENDING', 'GENERATING', 'COMPLETED', 'FAILED');

-- CreateTable
CREATE TABLE "prospects" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "phone" TEXT,
    "company" TEXT,
    "country" TEXT NOT NULL,
    "sector" TEXT NOT NULL,
    "language" "Language" NOT NULL DEFAULT 'fr',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "prospects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "submissions" (
    "id" TEXT NOT NULL,
    "needType" "NeedType" NOT NULL DEFAULT 'DEVELOPPEMENT',
    "projectType" "ProjectType" NOT NULL,
    "description" TEXT NOT NULL,
    "targetUsers" JSONB NOT NULL,
    "features" JSONB NOT NULL,
    "constraints" JSONB NOT NULL,
    "completenessScore" INTEGER,
    "status" "SubmissionStatus" NOT NULL DEFAULT 'NOUVEAU',
    "language" "Language" NOT NULL DEFAULT 'fr',
    "honeypot" TEXT,
    "gdprConsent" BOOLEAN NOT NULL DEFAULT false,
    "gdprConsentAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "prospectId" TEXT NOT NULL,

    CONSTRAINT "submissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "generated_documents" (
    "id" TEXT NOT NULL,
    "type" "DocumentType" NOT NULL,
    "content" TEXT NOT NULL,
    "language" "Language" NOT NULL,
    "generationStatus" "GenerationStatus" NOT NULL DEFAULT 'PENDING',
    "errorMessage" TEXT,
    "version" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "submissionId" TEXT NOT NULL,

    CONSTRAINT "generated_documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "status_history" (
    "id" TEXT NOT NULL,
    "fromStatus" "SubmissionStatus",
    "toStatus" "SubmissionStatus" NOT NULL,
    "changedBy" TEXT NOT NULL,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "submissionId" TEXT NOT NULL,

    CONSTRAINT "status_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "internal_notes" (
    "id" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "author" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "submissionId" TEXT NOT NULL,

    CONSTRAINT "internal_notes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "projects" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "titleFr" TEXT NOT NULL,
    "titleEn" TEXT NOT NULL,
    "descriptionFr" TEXT NOT NULL,
    "descriptionEn" TEXT NOT NULL,
    "problemFr" TEXT NOT NULL,
    "problemEn" TEXT NOT NULL,
    "resultFr" TEXT NOT NULL,
    "resultEn" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "technologies" TEXT[],
    "coverImageUrl" TEXT,
    "isPublished" BOOLEAN NOT NULL DEFAULT false,
    "displayOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "projects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "name" TEXT,
    "failedLogins" INTEGER NOT NULL DEFAULT 0,
    "lockedUntil" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "admin_users_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "prospects_email_key" ON "prospects"("email");

-- CreateIndex
CREATE UNIQUE INDEX "projects_slug_key" ON "projects"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "admin_users_email_key" ON "admin_users"("email");

-- AddForeignKey
ALTER TABLE "submissions" ADD CONSTRAINT "submissions_prospectId_fkey" FOREIGN KEY ("prospectId") REFERENCES "prospects"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "generated_documents" ADD CONSTRAINT "generated_documents_submissionId_fkey" FOREIGN KEY ("submissionId") REFERENCES "submissions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "status_history" ADD CONSTRAINT "status_history_submissionId_fkey" FOREIGN KEY ("submissionId") REFERENCES "submissions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "internal_notes" ADD CONSTRAINT "internal_notes_submissionId_fkey" FOREIGN KEY ("submissionId") REFERENCES "submissions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

