-- CreateEnum
CREATE TYPE "Language" AS ENUM ('fr', 'en');

-- CreateEnum
CREATE TYPE "ProjectType" AS ENUM ('SITE_WEB', 'APP_WEB', 'APP_MOBILE', 'SYSTEME_GESTION', 'ECOMMERCE', 'MARKETPLACE', 'ERP_CRM', 'FINTECH', 'IA_AUTOMATISATION', 'AUTRE');

-- CreateEnum
CREATE TYPE "SubmissionStatus" AS ENUM ('NOUVEAU', 'EN_COURS', 'BRIEF_ENVOYE', 'EN_ATTENTE_CLIENT', 'PROPOSITION_ENVOYEE', 'CONFIRME', 'NON_QUALIFIE', 'ARCHIVE');

-- CreateEnum
CREATE TYPE "DocumentType" AS ENUM ('BRIEF', 'DRAFT_CDC');

-- CreateEnum
CREATE TYPE "GenerationStatus" AS ENUM ('PENDING', 'PROCESSING', 'COMPLETED', 'FAILED');

-- CreateTable
CREATE TABLE "prospects" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "first_name" VARCHAR(100) NOT NULL,
    "last_name" VARCHAR(100) NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "phone" VARCHAR(50),
    "company" VARCHAR(200),
    "country" VARCHAR(100) NOT NULL,
    "sector" VARCHAR(100) NOT NULL,
    "language" "Language" NOT NULL DEFAULT 'fr',

    CONSTRAINT "prospects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "submissions" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "prospect_id" UUID NOT NULL,
    "project_type" "ProjectType" NOT NULL,
    "description" TEXT NOT NULL,
    "target_users" JSONB NOT NULL,
    "features" JSONB NOT NULL,
    "constraints" JSONB NOT NULL,
    "raw_responses" JSONB NOT NULL,
    "status" "SubmissionStatus" NOT NULL DEFAULT 'NOUVEAU',
    "completeness_score" INTEGER,
    "honeypot_flagged" BOOLEAN NOT NULL DEFAULT false,
    "ip_address" VARCHAR(45),

    CONSTRAINT "submissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "generated_documents" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "submission_id" UUID NOT NULL,
    "type" "DocumentType" NOT NULL,
    "content" TEXT NOT NULL,
    "language" "Language" NOT NULL,
    "generation_status" "GenerationStatus" NOT NULL DEFAULT 'PENDING',
    "error_message" TEXT,
    "version" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "generated_documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "status_history" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "submission_id" UUID NOT NULL,
    "old_status" "SubmissionStatus",
    "new_status" "SubmissionStatus" NOT NULL,
    "changed_by" VARCHAR(100) NOT NULL DEFAULT 'admin',

    CONSTRAINT "status_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "internal_notes" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "submission_id" UUID NOT NULL,
    "content" TEXT NOT NULL,

    CONSTRAINT "internal_notes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "projects" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "slug" VARCHAR(200) NOT NULL,
    "title_fr" VARCHAR(200) NOT NULL,
    "title_en" VARCHAR(200) NOT NULL,
    "category" VARCHAR(100) NOT NULL,
    "description_fr" TEXT NOT NULL,
    "description_en" TEXT NOT NULL,
    "problem_fr" TEXT NOT NULL,
    "problem_en" TEXT NOT NULL,
    "result_fr" TEXT NOT NULL,
    "result_en" TEXT NOT NULL,
    "technologies" TEXT[],
    "cover_image_url" VARCHAR(500),
    "is_published" BOOLEAN NOT NULL DEFAULT false,
    "display_order" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "projects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_users" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "email" VARCHAR(255) NOT NULL,
    "password_hash" VARCHAR(255) NOT NULL,
    "failed_attempts" INTEGER NOT NULL DEFAULT 0,
    "locked_until" TIMESTAMP(3),
    "last_login_at" TIMESTAMP(3),

    CONSTRAINT "admin_users_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "prospects_email_key" ON "prospects"("email");

-- CreateIndex
CREATE INDEX "submissions_status_idx" ON "submissions"("status");

-- CreateIndex
CREATE INDEX "submissions_prospect_id_idx" ON "submissions"("prospect_id");

-- CreateIndex
CREATE INDEX "submissions_created_at_idx" ON "submissions"("created_at" DESC);

-- CreateIndex
CREATE INDEX "submissions_project_type_idx" ON "submissions"("project_type");

-- CreateIndex
CREATE INDEX "generated_documents_submission_id_idx" ON "generated_documents"("submission_id");

-- CreateIndex
CREATE INDEX "generated_documents_generation_status_idx" ON "generated_documents"("generation_status");

-- CreateIndex
CREATE INDEX "status_history_submission_id_idx" ON "status_history"("submission_id");

-- CreateIndex
CREATE INDEX "internal_notes_submission_id_idx" ON "internal_notes"("submission_id");

-- CreateIndex
CREATE UNIQUE INDEX "projects_slug_key" ON "projects"("slug");

-- CreateIndex
CREATE INDEX "projects_is_published_idx" ON "projects"("is_published");

-- CreateIndex
CREATE INDEX "projects_category_idx" ON "projects"("category");

-- CreateIndex
CREATE UNIQUE INDEX "admin_users_email_key" ON "admin_users"("email");

-- AddForeignKey
ALTER TABLE "submissions" ADD CONSTRAINT "submissions_prospect_id_fkey" FOREIGN KEY ("prospect_id") REFERENCES "prospects"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "generated_documents" ADD CONSTRAINT "generated_documents_submission_id_fkey" FOREIGN KEY ("submission_id") REFERENCES "submissions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "status_history" ADD CONSTRAINT "status_history_submission_id_fkey" FOREIGN KEY ("submission_id") REFERENCES "submissions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "internal_notes" ADD CONSTRAINT "internal_notes_submission_id_fkey" FOREIGN KEY ("submission_id") REFERENCES "submissions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

